.footer {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-text h4 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .footer-icons a {
    color: white;
    justify-content:space-between;
    margin-right: 10px;
    font-size: 54px;
    text-decoration: none;
  }
  