.custom-nav {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .custom-link {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 25px;
    margin-right: 30px; /* Add 20px right margin between links */
  }
  
  .custom-cart-link {
    margin-left: 1100px;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 20px;
    border: 3px solid rgb(0, 247, 255); /* Add blue border */
  }
  
/* Add styles for the header heading */
.header-heading {
    text-align: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    color: white;
    line-height: 40px;
    background-color: brown;
  }
  
  /* Style the <h1> element within .header-heading */
  .header-heading h1 {
    font-weight: bold;
    font-size: 56px; 
    font-family: 'Times New Roman', Times, serif;/* Make the text within <h1> bold */
  }
  